* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;

    list-style: none;

    transition: 0.3s ease-in-out;
}

:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --text-color: #084236;
    --active-nav: 300px;
    
    --inactive-item-width: 30px;
    --inactive-item-margin: 10px;
    --inactive-item-padding: 10px;
  
    --active-item-width: 250px;
  
    --active-bar-width: calc(var(--active-item-width) + (2 * var(--inactive-item-margin)) + (2 * var(--inactive-item-padding)) + 10px);;
  
    --inactive-bar-width: calc(var(--inactive-item-width) + (2 * var(--inactive-item-margin)) + (2 * var(--inactive-item-padding)));
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
}

nav {
    background-color: var(--green);
    color: var(--text-color);

    height: 100vh;
    font-size: 30px;

    position: absolute;
    top: 0;
    left: 0;
}

main {
    position: absolute;
    top: 0;
}

main h1 {
    margin-left: 30px;
}

#nav-bar-top {
    display: flex;
    margin-top: 5px;
}

#menu-btn:hover {
   cursor: pointer;
}

#main-icon {
   display: flex;
   width: 240px;
}

#nav-bar #nav-bar-top {
   font-size: 35px;
   padding: 5px;
   margin: 10px 10px 15px 10px;
}

#main-icon i {
  margin-top: 4px;
}

#main-icon p {
  font-size: 25px;
}

nav li {
    display: flex;
    flex-direction: row;
  
    margin: 5px var(--inactive-item-margin);
    border-radius: 10px;
    padding: 10px;

    transition: 0.2s ease-in-out;
}

nav li p {
  font-size: 20px;
}

nav li:hover {
    background-color: var(--light-grey);
    cursor: pointer;
}

.active-bar {
    width: var(--active-bar-width);
}

.active-bar ~ main {
    left: var(--active-bar-width);
}

.active-bar li i {
  margin-right: 10px;
  width: --active-item-width;
}

.inactive-bar {
    width: var(--inactive-bar-width);
}

.inactive-bar ~ main {
    left: var(--inactive-bar-width);
}

.inactive-bar .item-description {
  visibility: hidden;
  opacity: 0;
}

.inactive-bar #main-icon {
  visibility: hidden;
  opacity: 0;
  transition: 0.1s ease-in-out;
}

.inactive-bar #menu-btn {
  transform: translateX(-110px);
}

#nav-bar-bottom {
    display: flex;
    background-color: var(--light-green);

    padding: var(--inactive-item-padding);

    width: 70px;
    height: 70px;

    position: absolute;
    bottom: 0;
}

#nav-bar-bottom i {
    padding: var(--inactive-item-padding);
}

#user-info .name {
    font-size: 17px;
}

#user-info .title {
    font-size: 14px;
}

.active-bar #nav-bar-bottom {
    width: var(--active-bar-width);
}

.inactive-bar #user-info {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 0.1s ease-in-out;
  }

#user-info {
    display: flex;
    width: 240px;
    height: 50px;
}

  #user-info img {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

  .active-bar .bx-exit {
    position: absolute;
    transform: translateX(235px);
  }



