* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;

    list-style: none;

    transition: 0.3s ease-in-out;
}

:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --text-color: #084236;
    --active-nav: 300px;

    --active-bar-width: 300px;
    --inactive-bar-width: 100px;
}

nav {
    background-color: var(--green);
    color: var(--text-color);

    height: 100vh;
    font-size: 35px;

    position: absolute;
    top: 0;
    left: 0;
}

main {
    position: absolute;
    top: 0;
}

nav li {
    display: flex;
    flex-direction: row;
}

nav li i {
    margin: 0 auto;
}

nav li i:hover {
    cursor: pointer;
}

.active-bar {
    width: var(--active-bar-width);
}

.active-bar ~ main {
    left: var(--active-bar-width);
}

.inactive-bar {
    width: var(--inactive-bar-width);
}

.inactive-bar ~ main {
    left: var(--inactive-bar-width);
}

@media (max-width: 900px) {
    
}